body {
    top: calc(50% - 300px);
    height: 600px;
}

.card {
    height: 600px;
}

#switch-row{
    margin: 0;
}

.materialize-tags .tt-menu {
    font-size: 14px;
}

.m-b-md{
    padding: 1em 0;
}

.materialize-tags .tt-input {
    border-bottom: none;
    box-shadow: none;
}
