<!doctype html>
<html>

<head>
    <!-- Title -->
    <title>Feedcrunch.io - Login</title>
    <!-- Imports -->
    <link rel="stylesheet" href="/plugins/css/materialize.min.css">
    <link rel="stylesheet" href="/plugins/css/materialize-tags.min.css">
    <link rel="stylesheet" href="/plugins/css/sweetalert2.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/css/generic_style.css">
    <link rel="stylesheet" href="/css/submit_article.css">

</head>

<body>

    <main>
        <div class="card">
            <div class="card-content">
                <form id="add-form" action="#">
                    <h3>Submit a new Article</h3>
                    <a id="close-btn" class="btn-floating red"><i class="material-icons">close</i></a>

                    <a id="disconnect-btn" class="waves-effect waves-light btn red">
                        <i class="material-icons left">exit_to_app</i>
                        Disconnect
                    </a>
                    <a id="subscribe-btn" class="waves-effect waves-light btn orange darken-3 disabled">
                        <i class="material-icons left">rss_feed</i>
                        Subscribe to RSS Feed
                    </a>

                    <a id="my_feed-btn" class="waves-effect waves-light btn teal lighten-2">
                        <i class="material-icons left">open_in_new</i>
                        Open My Feed
                    </a>
                    <a id="admin_panel-btn" class="waves-effect waves-light btn indigo lighten-2">
                        <i class="material-icons left">account_circle</i>
                        Admin Panel
                    </a>

                    <section>
                        <div class="row">
                            <div class="col m12">
                                <div class="input-field col s12">
                                    <label for="title">Enter the Article's Title</label>
                                    <input id="title" name="title" type="text" class="required validate" data-init="" value="">
                                </div>
                                <div class="input-field col s12">
                                    <label for="link">Enter the Article's Link</label>
                                    <input id="link" name="link" type="text" class="required validate" data-init="" value="">
                                </div>
                                <div class="input-field col s12 no-padding">
                                    <div class="input-field col s12">
                                        <label for="tags">Enter up to 5 tags to improve social impact and search effiency</label>
                                        <input type="text" name="tags" id="tags" class="typehead-input" data-init="" value=""/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m6 l3">
                                        <!-- Switch -->
                                        <div class="switch m-b-md">
                                            <label>
                                                <span class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Link Visible:</span>
                                                <input type="checkbox" id="visibility" name="visibility"  data-init="">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="input-field col s12 m6 l6" id="switch-row">

                                            <div class="input-field col s12 m6 l6">
                                                <!-- Switch -->
                                                <div class="switch m-b-md">
                                                    <label>
                                                        <span>Publish on Twitter:</span>
                                                        <input type="checkbox" id="twitter" name="twitter" data-init="false">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <!-- Switch -->
                                                <div class="switch m-b-md">
                                                    <label>
                                                        <span class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Publish on Facebook:</span>
                                                        <input type="checkbox" id="facebook" name="facebook" data-init="false">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <div class="switch m-b-md">
                                                    <label>
                                                        <span class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Publish on LinkedIn:</span>
                                                        <input type="checkbox" id="linkedin" name="linkedin" data-init="false">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <div class="switch m-b-md">
                                                    <label>
                                                        <span class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Publish on Slack:</span>
                                                        <input type="checkbox" id="slack" name="slack" data-init="false">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                            </div>

                                    </div>
                                    <div class="input-field col s12 m6 l3" >
                                        <!-- Switch -->
                                        <div class="switch m-b-md">
                                            <label>
                                                <span class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Title Auto Format:</span>
                                                <input type="checkbox" id="autoformat" name="autoformat" data-init="false">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12" id="btn-row">
                                <div class="col s12 m4 offset-m2">
                                    <a class="waves-effect waves-light btn red" id="reset" style="width: 100%;"><i class="material-icons left">delete</i>Reset</a>
                                </div>
                                <div class="col s12 m4">
                                    <a class="waves-effect waves-light btn light-blue darken-2 m-b-xs" id="submit"  style="width: 100%;"><i class="material-icons left">done</i>Submit</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </main>


    <script src="/plugins/js/jquery.min.js"></script>
    <script src="/plugins/js/materialize.min.js"></script>
    <script src="/plugins/js/typeahead.bundle.min.js"></script>
    <script src="/plugins/js/materialize-tags.min.js"></script>
    <script src="/plugins/js/sweetalert2.min.js"></script>

    <script src="/js/generic_btn_actions.js"></script>
    <script src="/js/submit_article.js"></script>
</body>

</html>
